<div class="panel panel-primary">
  
  <div class="panel-heading">Products <span class="badge"><%= @products.count %></span></a></div>    
      
      <table class = 'table'>
      <thead>
			<tr>
    		<th>Name</th>
    		<th>Price</th>
    		<th>Seller</th>
    		<th>Created at</th>
    		<th>Actions</th>
			</tr>
		</thead>
		<tbody>
       <% @products.each do |product| %>
			<tr>
	<td><%= link_to product.name, product_path(product) %></td>	
	<td><%= product.price %></td>		
	<td><%= link_to product.seller.name, seller_path(product.seller_id) %></td>
	<td><%= product.created_at.strftime("%Y-%d-%m") %></td>
	<td><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-sm btn-primary' %>
			<%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %></td>
</tr>
<% end %>
</tbody>
      </table>
      
   
  </div>