<%= form_for @product do |form|%>	
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control' %>
  <br>
  <%= form.label :price %>
  <div class="input-group">
    <span class="input-group-addon">$</span>
    <%= form.text_field :price, class: 'form-control' %>
  </div>   	
    	
  <br>
  <%= form.label :description, 'Description (optional)' %>
  <%= form.text_area :description, class: 'form-control' %>
  <br>
  <%= form.label :seller_id %>
  <%= form.collection_select :seller_id, Seller.all, :id, :name, { prompt: 'Choose seller'}, class: 'form-control' %>
  <br>
  <%= form.submit params[:action] == 'new' ? 'Save' : 'Update', class: 'btn btn-block btn-default' %>
<% end %>