<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'shared/bootstrap' %>



  <body>
    <div class="container-fluid">
  	  <nav class="navbar navbar-default">
<%= link_to image_tag("ror3-shop-logo.png", alt: "RoR Web Shop", id: "logo" ), root_path %>

  <ul class="nav navbar-nav navbar">
    <li class="<%= 'active' if controller?('home') %>"><%= link_to 'Back to site', root_path %></li>      
    <li class="<%= 'active' if controller?('products') %>"><%= link_to 'Products', admin_products_path %></li>
    <li class="<%= 'active' if controller?('sellers') %>"><%= link_to 'Sellers', sellers_path %></li>
    <li class="<%= 'active' if controller?('categories') %>"><%= link_to 'Categories', categories_path %></li>
  </ul> 
    
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", '#' %></li>
          <% if current_user.admin? %>
            <li><%= link_to "Dashboard", admin_dashboard_path %> </li>
          


          <li class="divider"></li>
                  
          <li><%= link_to session_path, method: :delete do %>
            <i span class="glyphicon glyphicon-log-out"></i> Logout
          <% end %>
          </li>
        </ul>
      </li>
      <li><a><i span class="glyphicon glyphicon-user"></i> <%= current_user.username %></a></li>

        <% else %>
          
          <li class="<%= 'active' if controller?('sessions') %>"><%= link_to 'Login', new_session_path %></li>
        <% end %>
      
  

  </ul>
 </nav>

      <%= yield %>
      <%= render 'shared/footer' %>
    </div>

  </body>
</html>